.image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.responsive-image {
    /* width: 386px; */
    height: 370px;
    /* max-height: 100%; */
    object-fit: contain;
    border-radius: 0.5rem;
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .image-container {
        max-width: 100%;
        margin: 0 auto;
    }
}