.gradient-text {
    font-size: 72px;

    font-weight: 700;
    /* Make it bold for better visibility */
    background-image: linear-gradient(90deg, #D63715 0%, #FF9422 100%);
    -webkit-background-clip: text;
    /* For Safari */
    -moz-background-clip: text;
    /* For Firefox */
    background-clip: text;
    /* Standard syntax */
    color: transparent;
    /* Make the text color transparent */
}