.custom-left-margin {
    margin-left: 2rem;
    /* Adjust the left margin */
}

@media (max-width: 1024px) {
    .custom-left-margin {
        margin-left: 1rem;
        /* Reduce margin on smaller screens */
    }

    .responsive-text {
        font-size: 48px;
        /* Smaller font size for responsiveness */
        line-height: 60px;
    }
}

@media (max-width: 640px) {
    .responsive-text {
        font-size: 36px;
        /* Further reduction for mobile */
        line-height: 48px;
    }
}

.gradient-text {
    font-family: "Denton Test";
    font-size: 72px;
    font-weight: 700;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: linear-gradient(93.14deg, #D12631 2.6%, #D4A853 77.38%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}