.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    /* background-color: blue; */
    /* Change to desired color */
    background: linear-gradient(180deg, #EA7D06 0%, #D63715 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* color: #FFFFFF; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.arrow-left {
    left: -190px;

    /* Adjust spacing from the slider */
}

.arrow-right {
    /* right: -80px; */
    /* Adjust spacing from the slider */
}