/* General Navbar Styling */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
    font-family: 'Gilroy';
    /* margin-bottom: 20px; */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    height: 50px;
    object-fit: cover;

}

/* Desktop Links */
.desktop-links {
    display: flex;
    gap: 2rem;
    /* Space between links */
    margin-left: 3rem;
    /* Space from logo */
}

.navbar-link {
    font-size: 19.73px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #D63715;
    text-decoration: underline;
}

.navbar-link.active {
    /* font-weight: bold; */
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #EA7D06, #D63715);
    font-family: Gilroy-bold;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-menu svg {
    color: #333;
}

@media (max-width: 768px) {
    .desktop-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 4rem;
        right: 0;
        width: 100%;
        padding: 1rem;

    }

    .mobile-link {
        font-size: 19.73px;
        font-weight: 500;
        text-decoration: none;
        color: #333;
        padding: 0.5rem 0;
        transition: color 0.3s ease;
    }

    .mobile-link:hover {
        color: #D63715;
        text-decoration: underline;
    }
}