.test-name {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.test-role {

    font-family: Gilroy;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.testimonial-outer-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.testimonial-heading {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gilroy;
    font-size: 134.99px;
    font-weight: 900;
    line-height: 196.87px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFD9B17A;
}

.testimonial-outer-heading-2 {
    position: relative;
    top: -90px;
    font-family: Gilroy;
    font-size: 66.56px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D63715;

}

@media (max-width:768px) {
    .testimonial-outer-heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .testimonial-heading {
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gilroy;
        font-size: 74.99px;
        font-weight: 900;
        line-height: 46.87px;
        letter-spacing: 0.01em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FFD9B17A;
    }

    .testimonial-outer-heading-2 {
        position: relative;
        top: -18px;
        font-family: Gilroy;
        font-size: 40.56px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #D63715;

    }
}

@media (max-width:468px) {
    .testimonial-outer-heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .testimonial-heading {
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gilroy;
        font-size: 44.99px;
        font-weight: 900;
        line-height: 46.87px;
        letter-spacing: 0.01em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FFD9B17A;
    }

    .testimonial-outer-heading-2 {
        position: relative;
        top: -25px;
        font-family: Gilroy;
        font-size: 20.56px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #D63715;

    }
}


.nslide {
    background: linear-gradient(180deg, #EA7D06 0%, #D63715 100%);
    border: none;
    outline: none;
}

.nslide:hover {
    filter: brightness(1.2);
}

.prevslide {
    background: linear-gradient(180deg, #EA7D06 0%, #D63715 100%);
    border: none;
    outline: none;
}

.prevslide:hover {
    filter: brightness(1.2);
}

@media (max-width:468px) {
    .prevslide {
        width: 39.5px;
        height: 39.5px;
        zIndex: 3;
        top: 390px;
    }

    .nslide {
        width: 39.5px;
        height: 39.5px;
        zIndex: 3;
        top: 390px;
    }
}