@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Gilroy, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* font-family: Gilroy; */
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 400;
  /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
} */

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 700;
  /* Regular weight */
  /* font-style: bold; */
}



@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 500;
  /* Regular weight */
  font-style: normal;
}


/* You can add more font styles (e.g., Light, SemiBold) as needed */
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;

}

/* @font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: bold;

} */

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  /* ExtraBold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  /* Light weight */
  font-style: normal;
}